## Auto generated providers.tf ##
## Updated on: {{ timestamp }} ##

provider "aws" {
  region = "{{ region }}"
  skip_region_validation = true
  shared_credentials_files = ["~/.aws/credentials"]
  profile                 = "aft-management"

  default_tags {
    tags = {
      managed_by                  = "AFT"
    }
  }
}
